@charset "UTF-8";

*{
    margin: 0px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    background-color: lightgray;
    margin: auto;
    max-width: 800px;
    border-radius: 10px;
}

main > h1{
    text-align: center;
}

table{
    width: 500px;
    border-collapse: collapse;
    border: 5px solid red;
    margin: auto;
    position: relative;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}

tbody{
    background-color: white;
}

thead, tfoot{
    background-color: rgb(95, 95, 95);
    color: white;
}

thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: rgb(95, 95, 95);
}

tbody > tr:nth-child(odd){
    background-color: rgb(177, 177, 177);
}

td.num{
    text-align: right;
}