@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    /*
    Cores
    */

    --corprincipal: #0073FF;
    --cor00: #006aff69;
    --cor01: #54A1FF;
    --cor02: #2373D5;
    --cor03: #405C80;
    --cor04: #394555;
    --cor05: #2B2E33;

    /*
    Fontes
    */

    --fonteprincipal: 'Audiowide', Arial, Helvetica, sans-serif;
    --font01: 'Funnel Display', Arial, Helvetica, sans-serif;
    --font02: 'Zen Dots', Arial, Helvetica, sans-serif;
}

body{
    font-family: var(--font01);
    background-color: white;
}

header{
    background-image: linear-gradient(to bottom, var(--corprincipal) 50px, var(--cor02));
    text-align: center;
    padding: 10px 0px;
}

header h1{
    font-family: var(--fonteprincipal);
    font-weight: normal;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.405);
    padding: 3px;
    margin: 5px 0px;
}

header p{
    color: white;
    padding: 3px;
    margin: 15px 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.405);
}

nav{
    background-color: var(--cor05);
    padding: 5px;
    text-align: center;
}

nav a{
    transition-duration: 0.4s;
    background-color: var(--cor04);
    color: white;
    text-decoration: none;
    padding: 2px 5px;
    margin: 10px;
    border-radius: 10px;
}

nav a:hover{
    transition-duration: 0.4s;
    background-color: #4c5c70;
    color: rgb(210, 210, 210);
}

main{
    background-color: white;
    max-width: 950px;
    margin: auto;
    padding: 15px;
    border: 3px solid var(--cor05);
    border-radius: 0px 0px 10px 10px;
}

main h1{
    color: var(--cor05);
    font-family: var(--fonteprincipal);
    font-weight: normal;
    font-size: 2.1em;
    text-align: center;
    padding: 5px;
    margin: 15px;
}

main h2{
    font-family: var(--font02);
    font-weight: normal;
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    padding-left: 5px;
    margin: 20px 15px 20px -15px;
}

main p{
    text-align: justify;
    text-indent: 30px;
    line-height: 28px;
}

img{
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: block;
    border-radius: 10px;
}
